$font-ranchers: Ranchers, cursive;
$font-roboto: Roboto, sans-serif;

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 500px;
  margin: 0px auto;

  &__title {
    width: 100%;
    text-align: center;
    font-family: $font-ranchers;
  }

  &__form {
    display: flex;
  }

  &__input {
    flex: 7 7 0;
    padding: 10px;
    border: 2px solid #a0dac9;
    border-radius: 10px 0 0 10px;

    &:focus {
      outline: none;
      border: 2px solid #2ad9a5;
    }
  }

  &__btn {
    flex: 3 3 0;
    color: #ffffff;
    font-size: 18px;
    font-family: $font-ranchers;
    background-color: #a0dac9;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    overflow: none;
    cursor: pointer;
    position: relative;

    &::before {
      content: "+";
      height: 24px;
      width: 24px;
      font-size: 24px;
      color: #a0dac9;
      background-color: #ffffff;
      border: 2px solid #a0dac9;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: #2ad9a5;

      &::before {
        color: #2ad9a5;
        border: 2px solid #2ad9a5;
      }
    }
  }

  &__list {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    font-family: $font-roboto;
  }

  &__item {
    padding: 20px 10px;
    margin: 10px;
    border: 2px solid #dadada;
    border-radius: 10px;
    position: relative;
  }

  &__txt {
    margin: 0px;
    font-size: 22px;
  }

  &__icon {
    color: #dadada;
    font-size: 26px;
    width: 30px;
    height: 30px;
    border: 2px solid #dadada;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      color: #de2020;
      border: 2px solid #de2020;
    }
  }
}
